<section class="ei-template1 boston">   
    
    <div class="border border-dark h-100 ei-invce-details container-fluid">
        <div class="row ei-business-details">
            <div class="col ei-invoice-logo text-center">
                <div class="ei-logo-upload d-inline-block align-top">                                    
                    <img src="images/loader.gif" id="fileLoader" alt="Logo of the client">
                    <img src="images/raw/Placeholder.jpg" id="imgLogo" alt="Logo of the client">
                    <label for="logo"></label>
                    <input type="file" id="logo" name="logo" />
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <strong contenteditable="true" class="ei-owner-name d-block" data-label="Owner Name"></strong>
                <address contenteditable="true" class="ei-owner-address" data-label="dummy address"></address>
            </div>
        </div>
        <div class="row">
            <div class="col ei-item-table-wrapper mt-5">
                <label class="mb-4"><strong>INVOICE# <span class="ei-invoice-id" contenteditable="true"></span></strong></label>
                <div class="table-responsive">
                    <div class="table table-border table-hover ei-item-table">
                        <div class="ei-table-row">
                            <div class="ei-table-head">ITEM DESCRIPTION</div>
                            <div class="ei-table-head">QUANTITY</div>
                            <div class="ei-table-head">PRICE</div>
                            <div class="ei-table-head">TOTAL</div>
                            <div class="ei-table-head"></div>
                        </div>
                        <div class="ei-table-bodygroup">
                            <div class="ei-item-row position-relative ei-table-row ei-table-body">
                                <div class="ei-table-cell">
                                    <label contenteditable="true" class="ei-item-table-val ei-editable-item-description" data-label="Item"></label>
                                </div>
                                <div class="ei-table-cell">
                                    <label contenteditable="true" class="ei-item-table-val ei-editable-quantity-lbl" data-label="1"></label>
                                </div>
                                <div class="ei-table-cell">
                                    <label contenteditable="true" class="ei-item-table-val ei-editable-number-lbl" data-label="0"></label>
                                </div>
                                <div class="ei-table-cell">
                                    <label class="ei-item-table-val ei-editable-total-lbl" data-label="0"></label>
                                </div>
                                <div class="ei-table-cell action-button">
                                    <span class="ei-remove-row">
                                        <i class="fa fa-minus-square-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <button class="btn btn-primary ei-add-row"><i class="fa fa-plus-square-o"></i> Add Row</button>
                </div>
            </div>
        </div>
        <div class="row pl-3 mt-3">
            <div class="col-7 total-wrap ml-auto">
                <div class="ei-subtotal">
                    <label>SUB-TOTAL</label>
                    <label class="ei-number-lbl float-right" data-label="0">0</label>
                </div>
                <div class="ei-tax">
                    <label>TAX (15%)</label>
                    <label class="ei-number-lbl float-right" data-label="0">0</label>
                </div>
                <div class="ei-total">
                    <label>TOTAL</label>
                    <label class="ei-number-lbl float-right" data-label="0">0</label>
                </div>
            </div>
        </div>
        <div class="row pl-3 mt-5">
            <div class="col">
                <h6>Payment Information</h6>
                <label contenteditable="true" class="d-block ei-account-holder-name" data-label="Account holder name"></label>
                <label contenteditable="true" class="d-block ei-bank-address" data-label="Account name"></label>
                <label contenteditable="true" class="d-block ei-account-number" data-label="Account No"></label>
            </div>
        </div>
        <footer class="row">
            <div class="col">
                <span class="ei-phone-number" contenteditable="true" data-label="317-456-2564" href="tel:+13174562564"></span>
                <!-- <address contenteditable="true" class="ei-owner-address" data-label="owner address"></address> -->
            </div>
        </footer>
    </div>
</section>
