<section class="ei-template1">   
    
    <div class="border border-dark h-100 ei-invce-details container-fluid">
        <div class="row ei-business-details p-3 border-bottom border-dark bg-white">
            <div class="col-6 ei-invoice-logo">
                <div class="ei-logo-upload">                                    
                    <img src="images/loader.gif" id="fileLoader" alt="Logo of the client">
                    <img src="" id="imgLogo" alt="Logo of the client">
                    <label for="logo"></label>
                    <input type="file" id="logo" name="logo" />
                </div>
                <img src="" alt="Logo of the client">
            </div>
            <div class="col-6 text-right ei-contact-details">
                <label class="d-block m-0">
                    <a class="text-secondary ei-phone-number" contenteditable="true" data-label="317-456-2564" href="tel:+13174562564"></a>
                </label>
                <label class="d-block m-0">
                    <a class="text-secondary ei-email-id" contenteditable="true" data-label="someone@example.com" href="" target="_top"></a>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col ei-item-table-wrapper mt-5">
                <div class="table-responsive">
                    <div class="table table-border table-hover ei-item-table">
                        <div class="ei-table-row">
                            <div class="ei-table-head">ITEM DESCRIPTION</div>
                            <div class="ei-table-head">QUANTITY</div>
                            <div class="ei-table-head">PRICE</div>
                        </div>
                        <div class="ei-item-row position-relative ei-table-row ei-table-body">
                            <div class="ei-table-cell">
                                <label contenteditable="true" class="ei-item-table-val ei-editable-item-description" data-label="Item Description sample"></label>
                            </div>
                            <div class="ei-table-cell">
                                <label contenteditable="true" class="ei-item-table-val ei-editable-quantity-lbl" data-label="1"></label>
                            </div>
                            <div class="ei-table-cell">
                                <label contenteditable="true" class="ei-item-table-val ei-editable-number-lbl" data-label="0"></label>
                            </div>
                            <div class="position-absolute ei-table-cell">
                                <span class="ei-remove-row">
                                    <i class="fa fa-minus-square"></i>
                                </span>
                                <span class="ei-add-row">
                                    <i class="fa fa-plus-square"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pl-3 mt-5">
            <div class="col-5">
                <h6>PAYMENT METHOD</h6>
            </div>
            <div class="col-7 total-wrap">
                <div class="ei-subtotal">
                    <label>SUB-TOTAL</label>
                    <label class="ei-number-lbl float-right" data-label="0"> </label>
                </div>
                <div class="ei-tax">
                    <label>TAX (15%)</label>
                    <label class="ei-number-lbl float-right" data-label="0"> </label>
                </div>
                <div class="ei-total">
                    <label>TOTAL</label>
                    <label class="ei-number-lbl float-right" data-label="0"> </label>
                </div>
            </div>
        </div>
        <div class="row pl-3 mt-5">
            <div class="col-6">
                <h6>PAYABLE TO</h6>
                <label contenteditable="true" class="ei-owner-name d-block" data-label="Owner Name"></label>
                <address contenteditable="true" class="ei-owner-address" data-label="dummy address"></address>
            </div>
            <div class="col-6">
                <h6>BANK DETAILS</h6>
                <label contenteditable="true" class="d-block ei-account-holder-name" data-label="Account holder name"></label>
                <label contenteditable="true" class="d-block ei-bank-address" data-label="Account name"></label>
                <label contenteditable="true" class="d-block ei-account-number" data-label="Account No"></label>
            </div>
        </div>
    </div>
</section>
