<section class="profile-section col">
		<h1 class="bg-white my-2 text-secondary">My Profile</h1>
		<div id="errorMsg" class="font-weight-bold text-danger bg-white mb-2"></div>
		<form onsubmit="return saveUserDetails()" onkeyup="validateForm()" id="profileForm">
			<div class="row vdivide mx-1">
				<div class="col-lg-2 col-md-12 col-sm-12 bg-white">
					<h4 class="pt-4 text-secondary">Logo</h4>
					<hr class="profile-rule">
					<div class="form-group">
						<div class="ei-logo-section rounded-circle mx-auto">
							<img src="" alt="Company Logo" id="pofileImgLogo" name="pofileImgLogo">
							<span class="ei-logo-span align-middle text-center">Drag &amp; drop a logo file or click to upload</span>
							<input class="ei-logo-input" type="file" name="companyLogo" id="companyLogo">									
						</div>
						<span class="error text-danger"></span>
					</div>
				</div>
				<div class="col-lg-5 col-md-12 col-sm-12 bg-white">
					<h4 class="pt-4 text-secondary">Owner Details</h4>
					<hr class="profile-rule">
					<div class="form-group">
						<label for="ownerName" class="font-weight-bold">Contact Person/Owner Name:</label>
						<input type="text" name="ownerName" id="ownerName" class="form-control">
						<span class="error text-danger"></span>
					</div>
					<div class="form-group">
						<label for="phone" class="font-weight-bold">Contact Number:</label>
						<input type="tel" id="phone" name="phone" class="form-control">
						<span class="error text-danger"></span>
					</div>
					<div class="form-group">
						<label for="emailAddress" class="font-weight-bold">Email:</label>
						<input type="email" name="emailAddress" id="emailAddress" class="form-control">
						<span class="error text-danger"></span>
					</div>
					<hr class="profile-rule mt-5">
					<h4 class="pt-4 text-secondary">Bank Details</h4>
					<hr class="profile-rule">
					<div class="form-group">
						<label for="bankName" class="font-weight-bold">Bank Name</label>
						<input type="text" name="bankName" id="bankName" class="form-control">
						<span class="error text-danger"></span>
					</div>
					<div class="form-group">
						<label for="accountNumber" class="font-weight-bold">Account Number:</label>
						<input type="number" name="accountNumber" id="accountNumber" class="form-control">
						<span class="error text-danger"></span>
					</div>
					<div class="form-group">
						<label for="accountHolderName" class="font-weight-bold">Account Holder Name:</label>
						<input type="text" name="accountHolderName" id="accountHolderName" class="form-control">
						<span class="error text-danger"></span>
					</div>
				</div>							
				<div class="col-lg-5 col-md-12 col-sm-12 bg-white " >
					<h4 class="pt-4 text-secondary">Company Details</h4>
					<hr class="profile-rule">
					<div class="form-group">
						<label for="companyName" class="font-weight-bold">Company Name:</label>
						<input type="text" name="companyName" id="companyName" class="form-control">
						<span class="error text-danger"></span>
					</div>
					<div class="form-group">
						<label for="companyAddress" class="font-weight-bold">Address of the Firm:</label>
						<textarea rows="4" cols="30" name="companyAddress" id="companyAddress" class="form-control"></textarea>
						<span class="error text-danger"></span>								
					</div>
					<div class="form-group">
						<label for="websiteUrl" class="font-weight-bold">Website:</label>
						<input type="url" name="websiteUrl" id="websiteUrl" class="form-control">
						<span class="error text-danger"></span>								
					</div>
					<div class="form-group">
						<label for="gstin" class="font-weight-bold">GST Identification Number:</label>
						<input type="text" name="gstin" id="gstin" class="form-control">
						<span class="error text-danger"></span>								
					</div>						
				</div>
			</div>
			<div class="row bg-white my-2">
				<div class="col-12 text-center p-3">
					<button type="submit" class="btn btn-primary font-weight-bold">Update Profile</button>
					
				</div>
			</div>
		</form>
	</section>
</div>
</section>