.ei-logo-section {
    position: relative;
    width: 150px;
	height:150px;
    max-width: 150px;
	max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    overflow: hidden;
    border-width: 2px;
    border-style: dashed;
    border-image: initial;
    border-color: var(--primary);
}
.ei-logo-span {
	display: inline;
    width: 100%;
    font-weight: 600;
    text-align: center;
}
.ei-logo-input {
    position: absolute;
    font-size: 10em;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.ei-logo-section > img[src=""]{
	display: none;
}
.ei-logo-section > img:not([src=""]) + .ei-logo-span{
	display: none;
	width: 50%;
}
.ei-logo-section > img{
	display: inline;
	margin-bottom: auto;
	/* max-width: 100%;  */
    max-height: 100%;
    border-radius : 50%;
}
        
.ei-logo-section:hover {
	transform: translate(1.2);
}
.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 4px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
}
hr.profile-rule{ 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
#errorMsg{
	font-size:90%;
}
.error{
	font-size: 90%;
}