:root{
    --primary: #21D59E;
    --text-color: #333;
    --logo-color: #888;
}
a:hover{text-decoration: none; color: inherit;}

html{font-size: 16px;}
body{font-family: 'Nunito', sans-serif; font-size: 1rem; background-color: #fafafa;overflow: hidden;}
header{background-color: #fff; color: var(--text-color); padding: 15px 0; box-shadow: 0 0 5px rgba(0,0,0,0.1);}

.ei-logo{font-size: 35px; font-weight: 600; text-transform: uppercase; color: var(--logo-color); line-height: 35px; white-space: nowrap;}
.ei-logo span{color: var(--primary);}
.ei-header-right{text-transform: uppercase;}
.ei-header-right .btn-link{color: var(--text-color);}
.ei-header-right .btn-outline-secondary{color: var(--primary); border-color:var(--primary);}
.ei-header-right .btn-outline-secondary:hover{background-color: var(--primary); color: #fff;}
.profile img{width: 22px; vertical-align: top}
.profile .btn-group-vertical>.btn:hover, .profile .btn-group>.btn:hover{text-decoration: none;}
/* .ei-tempate-container{margin-top: 50px;} */
.ei-tempate-container .row div > picture{height: 200px; padding: 20px; margin-bottom: 20px; position: relative; overflow: hidden;}

.ei-tempate-container picture img{display: block; margin: 0 auto; max-height: 100%; box-shadow: 0 0 10px rgba(0,0,0,0.3)}

.ei-dashboard{height: calc(100vh - 68px); overflow: auto;}
.ei-dashboard > * > *, .ei-dashboard > *{min-height: 100%;}

.ei-dashboard aside{background-color: var(--primary); max-width: 100px; padding: 0;}
.ei-dashboard aside li{overflow: hidden; display: block;}
.ei-dashboard aside li.active, .ei-dashboard aside li:hover{overflow: visible;}
.ei-dashboard aside li.active a, .ei-dashboard aside li a.active, .ei-dashboard aside li:hover a, .ei-dashboard aside li a.active:hover {background-color: rgba(0,0,0,0.3); position: relative;color: #ffffff;}
.ei-dashboard aside li a span{display: block; font-size: 1rem}
.ei-dashboard aside li a{color: #fff !important; transition: all ease 0.3s; padding: 15px 0; text-decoration: none; display: block; font-size: 1.2rem; text-align: center}
.ei-dashboard aside li a i{font-size: 2rem;}
.ei-dashboard aside.ei-action-buttons{max-width: 150px; background-color: #fff; padding: 15px;}
.ei-dashboard aside.ei-action-buttons button{margin-bottom: 10px;}
.ei-create-invoice{padding: 50px;}

.ei-loader{position: fixed; top: 0; left: 0; background-color: rgba(0,0,0,0.8); display: none;}
.ei-loader .ei-loader-content{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: #fff; font-size: 25px; text-align: center;}
.ei-loader .ei-loader-content img{display: block; margin:0 auto; max-width: 50px;}

.ei-template1 {background-color: #FFF4F4;width: 100%;max-width: 700px;margin: 0 auto;}
.ei-template1 *[contenteditable=true]:hover, .ei-template1 *[contenteditable=true]:focus{outline:1px dashed var(--primary);cursor: text;}
.ei-template1 *[contenteditable=true]:before{content: ""; color: #999;}
.ei-template1 .filled[contenteditable=true]:before{display: none;}
.ei-invce-details, .ei-business-details {border-width: 3px !important;}
.ei-contact-details {font-size: 1rem;}
.ei-editable-number-lbl, .ei-editable-quantity-lbl {max-width: 100px;min-width: 50px;}
.ei-item-table .ei-item-row .ei-table-cell:last-child span {display: none;}
.ei-item-row .ei-table-cell:last-child {right: 15px;border: none;font-size: 1rem;}
.ei-item-table .ei-item-row:last-child:hover > .ei-table-cell:last-child span {display: inline-block;cursor: pointer;}
/*.ei-item-table .ei-item-row:last-child:hover .ei-table-cell:first-child span .fa.fa-minus-square {display: inline-block;cursor: pointer;}*/
.ei-item-table {display: table;}
.ei-table-row {display: table-row;height: 40px;}
.ei-table-cell {display: table-cell;}
.ei-table-head {display: table-cell;}
.ei-table-bodygroup{display: table-row-group;}
.ei-table-cell.action-button{min-width: 25px}
.ei-item-table-wrapper .table-responsive{padding-left: 1px; overflow-y: hidden;}
.ei-invoice-logo > img {display: none;}
.ei-logo-upload {position: relative;width: 100px;height: 100px; transition: all ease 0.3s;}
.ei-logo-upload:hover{transform: scale(1.2);}
.ei-logo-upload > img{max-height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.ei-logo-upload > #fileLoader{width: 30px; height: 30px; display: none; z-index: 1;}
.ei-logo-upload input {opacity: 0;position: absolute;}
.ei-logo-upload:hover {transform: translate(1.2);}
.ei-logo-upload label {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

#regiterDiv, .ei-history, #profileDiv{display: none;}
.form-div{padding: 20px 30px; max-width: 500px;}
.form-div h3{margin-bottom: 30px;}

body .alert{position: absolute; top: 20px; left:50%; transform: translateX(-50%)}
.total-wrap label, .ei-template1 *[contenteditable=true] {min-width: 150px;display: inline-block; position: relative;}

.ei-template1 .ei-email-id{min-width: 180px; max-width: 180px;}
.total-wrap label:before, .ei-template1 *[contenteditable=true]:before{position: absolute; left: 0; content: attr(data-label); min-width: 100%;}
.total-wrap label:before, .ei-phone-number:before, .ei-email-id:before{right: 0; left: auto;}
.total-wrap label{min-width: 50px;}
.btn.ei-add-row{padding: 5px 15px; font-size: .8rem; background-color: var(--primary); border-color: var(--primary);}
.btn.ei-add-row:hover{background-color: var(--primary); border-color: var(--primary);}
.total-wrap label.filled:before{display: none;}
.ei-history-wrap, .ei-template1 *[contenteditable=true]:focus:before{display: none}
.ei-left-btn {
    cursor : pointer;
}
.ei-templates-workspace picture {    
        min-width: 200px;
        padding: 20px;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;        
}
.ei-templates-workspace picture img {
    display: block; margin: 0 auto; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 8px solid #333;
    padding: 15px;
    background-color: #f9f9f9;
}
.ei-template1.boston{background-color: #fff;}
.ei-template1.boston .ei-business-details{background-color: #000; padding:20px 0;} 
.ei-template1.boston .ei-logo-upload{}
.ei-template1.boston .table, .ei-template1.boston .table .ei-table-head{border-bottom: 2px solid #000; text-align: center}
.ei-template1.boston .table .ei-table-cell label,{padding-top: 20px; text-align: center}
.ei-template1.boston .table .ei-table-row > .ei-table-cell:first-child label, .ei-template1.boston .table .ei-table-row > .ei-table-head:first-child label{text-align: left}
.ei-template1.boston footer{padding: 20px 0; background-color: #000; text-align: center; color: #fff;}
.ei-template1.boston footer *{display: inline-block;}
.ei-template1.boston footer *:before{text-align: center}

.ei-template1.vegas{background: url(../images/raw/bg-vegas.jpg) no-repeat; background-size: cover; padding:80px;}
.ei-template1.vegas .ei-logo-upload{width: 130px; height: 130px;}
.ei-template1.vegas > *{background-color: #fff; padding-bottom: 30px;}
.ei-template1.vegas .ei-business-details{padding:20px 0;} 
.ei-template1.vegas .table{border-bottom: 2px solid #D8D8D8;}
.ei-template1.vegas .table .ei-table-head{text-align: center}
.ei-template1.vegas .table .ei-table-head, .ei-template1.vegas .ei-total-wrap{border-bottom: 2px solid #FFA31E;}
.ei-template1.vegas .table .ei-table-cell label{text-align: center}
.ei-template1.vegas .table .ei-table-row > .ei-table-cell:first-child label, .ei-template1.vegas .table .ei-table-row > .ei-table-head:first-child label{text-align: left}
.ei-template1.vegas footer{padding: 20px 0; background-color: #000; text-align: center; color: #fff;}
.ei-template1.vegas footer *{display: inline-block;}
.ei-template1.vegas footer *:before{text-align: center;}
.table .ei-table-cell{position: relative; padding: 10px 0; border-bottom: 1px dashed #ddd;}
.table .ei-table-cell label{margin-bottom: 0;}
.table .ei-table-cell span.alert{font-size: 10px; display: block; width: 100%; padding:5px 0 0; top:27px; text-align: center;}
.ei-template1 .total-wrap .ei-number-lbl{text-align: right}

.ei-template1.ei-chicago{background: #fff;}
.ei-template1.ei-chicago .ei-item-list{border:2px solid #ED5A68; padding-bottom: 128px; overflow: auto;}
.ei-template1.ei-chicago .ei-total-wrap{bottom: 0; position: absolute; left: 0; width: 100%; padding: 0 15px; border-top:2px solid #ED5A68; padding:15px; }
.ei-template1.ei-chicago .table .ei-table-cell



.ei-template-wrap .card-body:hover>.ei-history-delete-invoice {
    display : block;
}

.ei-history-delete-invoice {
    background-color: #151517;
    opacity: 0.8;
    padding: 10px;
    border-radius: 0 0 0 8px;
    position : absolute;
    top: 20px;
    right: 20px;
    display : none;
    cursor: pointer;
}
.ei-history-delete-invoice i{
    font-size: 2rem;
    color: #2CC3B5;
}
.ei-welcome-user {
    margin: 0;
    margin-top: 0.5rem;
}
.ei-welcome-user span {
    font-size: 0.8rem;
    text-transform: lowercase;
    font-weight: bold;
}
.ei-social-login-wrapper a {
    width : 50px;
}
body > .alert{z-index: 99999;}
.ei-sign-up-wrap, .ei-log-in-wrap{width:100%;}
.ei-log-in-wrap > span, .ei-sign-up-wrap > span{
	padding: 10px 0 0 0;
    line-height: 1rem;
}

/* The animation code */
/* @keyframes login {
    from {
        top:0;
    }
    to {
        top:-10px;
    }
} */

/* The element to apply the animation to */
/* #loginAction {
    position:relative;
    animation-name: login;
    animation-duration: 1s;
    animation-delay : 4s;
    animation-iteration-count: 5;
} */

.ei-banner {
    /* background: url(../images/banner.png) no-repeat bottom;
    height: 100vh;
    background-size: cover; */
    background: #ffffff url(../images/banner.png) no-repeat bottom right;
    height: 100vh;
    background-size: contain;
    position : relative;
}
.ei-banner-caption {
    padding-left: 70px;
    padding-right: 70px;
}
.ei-banner-caption h1 {
    letter-spacing: -2px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2.5rem;
    margin: 0;
    color: var(--logo-color);
}
.ei-banner-caption h4 {
    margin-bottom: 25px;
    color: var(--primary);
}
.ei-banner-caption button {
    padding: 9px 25px;
    font-size: 1.5rem;
    border-radius: 0;
    background-color: var(--primary);
    border-color: var(--primary);
}
.ei-banner-caption button:hover, .ei-banner-caption .btn-primary:not(:disabled):not(.disabled).active, .ei-banner-caption .btn-primary:not(:disabled):not(.disabled):active, .show>.ei-banner-caption .btn-primary.dropdown-toggle {
    background-color: var(--primary);
    border-color: var(--primary);
}
.ei-banner-caption button i {
    margin-left: 15px;
    vertical-align: middle;
}
.ei-history-card .card{border:0; background-color: transparent; text-align: center;}
.ei-history-card .card .btn{background-color: var(--primary); border-color: var(--primary);}
.ei-history-card img{
    display: block; margin: 0 auto; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 8px solid #333;
    padding: 15px;
    background-color: #f9f9f9;}

.ei-history img{box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 8px solid #333;
    padding: 15px;
    background-color: #f9f9f9;}
@media print {
    body{background-color: #fff;}
    aside, header{display: none;}
    table, table tr, table td{background-color: #FFF4F4;}
    .ei-template1{max-width: none;}
    .ei-item-table-wrapper .table-responsive{overflow: hidden;}
    .btn.ei-add-row{display: none;}
}

@media only screen and (max-width:767px){
    .ei-logo{width: 42%; font-size: 25px; line-height: 38px;}
    .ei-dashboard > .row > .col{flex-basis: 100%;}
    .ei-dashboard > .row > .col ul{margin:0;}
    .ei-dashboard > .row > .col li{display: inline-block; vertical-align: top;}
    .ei-dashboard > .row > .col li a{padding: 15px;}
    .ei-dashboard aside.ei-action-buttons, .ei-dashboard aside{max-width:none;}
}