<section class="ei-template1 ei-chicago">
    <div class=" h-100 ei-invce-details container-fluid">
        <div class="row p-3">
            <div class="col-4 ei-invoice-logo">
                <div class="col ei-invoice-logo text-center">
                    <div class="ei-logo-upload d-inline-block align-top">                                    
                        <img src="images/loader.gif" id="fileLoader" alt="Logo of the client">
                        <img src="images/raw/Placeholder.jpg" id="imgLogo" alt="Logo of the client">
                        <label for="logo"></label>
                        <input type="file" id="logo" name="logo" />
                    </div>
                </div>
                <div class="ei-payable-details">
                    <p class="ei-title text-danger">Payable To : </p>
                    <label contenteditable="true" class="ei-owner-name d-block" data-label="Owner Name">Yaman Agrawal</label>
                    <address contenteditable="true" class="ei-owner-address" data-label="Address"></address>
                </div>
                <div class="ei-contact-details">
                    <p class="ei-title text-danger">Contact Details</p>
                    <label contenteditable="true" class="text-secondary ei-phone-number d-block" data-label="Contact No." href="tel:+13174562564">9840537584</label>
                    <label contenteditable="true" class="text-secondary ei-email-id d-block" data-label="Email">agrawalyaman6@gmail.com</label>
                </div>
                <div class="ei-bank-details">
                    <p class="ei-title text-danger">Bank Details</p>
                    <label contenteditable="true" class="d-block ei-account-holder-name" data-label="Account holder name"></label>
                    <label contenteditable="true" class="d-block ei-bank-address" data-label="Bank name"></label>
                    <label contenteditable="true" class="d-block ei-account-number" data-label="Account No"></label>
                </div>
            </div>
            <div class="col-8 ei-item-list position-relative">
                <div class="col ei-item-table-wrapper mt-3">
                    <div class="table-responsive h-100">
                        <div class="table table-border table-hover ei-item-table">

                            <div class="ei-table-row">
                                <div class="ei-table-head">ITEM DESCRIPTION</div>
                                <div class="ei-table-head">QUANTITY</div>
                                <div class="ei-table-head">PRICE</div>
                                <div class="ei-table-head"></div>
                            </div>
                            <div class="ei-table-bodygroup">
                                <div class="ei-item-row position-relative ei-table-row ei-table-body">
                                    <div class="ei-table-cell">
                                        <label contenteditable="true" class="ei-item-table-val ei-editable-item-description" data-label="Item"></label>
                                    </div>
                                    <div class="ei-table-cell">
                                        <label contenteditable="true" class="ei-item-table-val ei-editable-quantity-lbl" data-label="0"></label>
                                    </div>
                                    <div class="ei-table-cell">
                                        <label contenteditable="true" class="ei-item-table-val ei-editable-number-lbl" data-label="0"></label>
                                    </div>
                                    <div class="position-absolute ei-table-cell">
                                        <span class="ei-remove-row">
                                            <i class="fa fa-minus-square"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-right">
                        <button class="btn btn-primary ei-add-row"><i class="fa fa-plus-square-o"></i> Add Row</button>
                    </div>
                </div>
                <div class="ei-total-wrap">
                    <div class="row">
                        <div class="col-8 text-right">
                            <label class="d-block">Sub Total : </label>
                        </div>
                        <div class="col-4 text-right">
                            <label class="d-block ei-subtotal"><label class="ei-number-lbl float-right" data-label="0"></label> </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 text-right">
                            <label class="d-block">Total Tax : </label>
                        </div>
                        <div class="col-4 text-right">
                            <label class="d-block ei-tax"><label class="ei-number-lbl float-right" data-label="0"></label> </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 text-right">
                            <label class="d-block">Total : </label>
                        </div>
                        <div class="col-4 text-right">
                            <label class="d-block ei-total"><label class="ei-number-lbl float-right" data-label="0"></label> </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>